<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 0</key>
	<string>Dante 113</string>
	<key>Item 1</key>
	<string>Dante 114</string>
	<key>Item 2</key>
	<string>Dante 115</string>
	<key>Item 3</key>
	<string>Dante 116</string>
	<key>Item 4</key>
	<string>Dante 117</string>
	<key>Item 5</key>
	<string>Dante 118</string>
	<key>Item 6</key>
	<string>Dante 119</string>
	<key>Item 7</key>
	<string>Dante 120</string>
	<key>Item 8 </key>
	<string></string>
</dict>
</plist>
